.toolbar {
  background-color: #00BCD4 !important;
}

.toolbar span {
  color: #FFFFFF !important;
}

.toolbar button span, .toolbar a span{
  color: #000000 !important;
}

pre, code {
  background-color: #F7F7F7 !important;
}

pre {
  padding:20px;
}
